body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("images/default-background.jpg"); /* Default background image */
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s;
    color: #fff;
}


.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.header h1 {
    color: #333;
}

.input-container {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input {
    padding: 8px;
    font-size: 16px;
    width: 200px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

.weather-info {
    margin: 20px 0;
}

.location {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
}

.temperature {
    font-size: 2.5em;
    margin: 10px 0;
    color: #555;
}

.description {
    font-size: 1.2em;
    color: #555;
}

.precipitation {
    font-size: 1.2em;
    color: #555;
}
